{
    "chef": {
        "node_name": "<%=@admin_usr%>",
        "client_key": "<%=node['jenkins']['master']['home']%>/users/<%=@chef_server%>/<%=@admin_usr%>.pem",
        "chef_server_url": "https://<%=@chef_server%>/organizations/<%=@chef_env%>"
    },
    "ssl": {
        "verify": false
    }
}
