log_level                :info
log_location             STDOUT
node_name                '<%=@admin_usr%>'
client_key               '<%=node['jenkins']['master']['home']%>/users/<%=@chef_server%>/<%=@admin_usr%>.pem'
chef_server_url          'https://<%=@chef_server%>/organizations/<%=@chef_env%>'
syntax_check_cache_path  '<%=node['jenkins']['master']['home']%>/chef/syntax_check_cache'
validation_key           '<%=node['jenkins']['master']['validators']%>/<%=@chef_server%>/<%=@chef_env%>.pem'
validation_client_name   '<%=@chef_env%>-validator'

ssl_verify_mode      :verify_none

knife[:vault_mode] = 'client'
knife[:vault_admins] = ["<%=@admin_usr%>"]

cookbook_path [ "."]
