node_name "pivotal"
chef_server_url "https://<%=@hostname%>"
chef_server_root "https://<%=@hostname%>"
client_key "<%=node['jenkins']['master']['home']%>/chef/<%=@site%>-pivotal.pem"
ssl_verify_mode :verify_none

trusted_certs_dir "/etc/opscode/trusted_certs"
