<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.2">
  <actions/>
  <description>Run the Jenkins Pipeline definition at pipeline/build.groovy for the selected Chef Organization</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>CHEF_ENV</name>
          <description>The environment in which to run chef-client</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
            <% node['sbg_jenkins_delivery']['organisations']['all'].each do |org|%>
              <string><%=org%></string>
            <% end %>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>VERSION_TYPE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>patch</string>
              <string>minor</string>
              <string>major</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_BRANCH</name>
          <description></description>
          <defaultValue>release</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.5">
    <script>import groovy.json.JsonSlurperClassic

node(&apos;master&apos;) {
  def orgFile      = &quot;/opt/jenkins/orgs/${CHEF_ENV}-org.json&quot;
  def repo         = &quot;&quot;
  def integrationName = &quot;&quot;

  def inputFile    = new File(orgFile).getText(&apos;UTF-8&apos;)
  def orgConf      = new JsonSlurperClassic().parseText(inputFile)
  repo             = orgConf[&apos;integration-repo&apos;]
  integrationName  = orgConf[&apos;chef-org&apos;]

  checkout poll: false, scm: [$class: &apos;GitSCM&apos;, branches: [[name: &quot;${BUILD_BRANCH}&quot;]], doGenerateSubmoduleConfigurations: false, extensions: [], submoduleCfg: [], userRemoteConfigs: [[url: repo]]]
  load &apos;pipeline/build.groovy&apos; // run the packaged pipeline
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>
