<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.1">
  <actions/>
  <description>Create an instance in Amazon&apos;s Elastic Compute Cloud</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>RUN_LIST</name>
          <description>The Chef run_list

role[some-role],recipe[some-cookbook],recipe[some-other-cookbook::some-recipe]

Optional</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AMI_ID</name>
          <description>The EC2 AMI to deploy. You must have already accepted the AMI EULA (If there is one) in the AWS Marketplace before it will launch. AMI IDs are region specific.

Required</description>
          <defaultValue>ami-9bf712f4</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FLAVOR</name>
          <description>The EC2 instance type to use

Required</description>
          <defaultValue>t2.large</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SSH_USER</name>
          <description>The AMI SSH user. This is specific to the AMI, and is &apos;centos&apos; for offical CentOS images.

Required</description>
          <defaultValue>centos</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REGION</name>
          <description>The AWS region in which to create the instance

Required</description>
          <defaultValue>eu-central-1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SUBNET_ID</name>
          <description>The subnet in which to create the instance

Required</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SECURITY_GROUPS</name>
          <description>Any security groups to add, eg sg-1234567,sg-7654321

Optional</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>CHEF_ENV</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
            <% node['sbg_jenkins_delivery']['organisations']['all'].each do |org|%>
              <string><%=org%></string>
            <% end %>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NODE_NAME</name>
          <description>The instance name

Optional</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.2">
    <script>import groovy.time.TimeCategory
import hudson.AbortException
import hudson.console.HyperlinkNote
import java.util.concurrent.CancellationException
import groovy.json.JsonSlurper

def start        = new Date()
def build_env    = &quot;${CHEF_ENV}&quot;
def rubyPath     = &apos;/opt/chefdk/embedded/bin/ruby --external-encoding=UTF-8 --internal-encoding=UTF-8 &apos;

def orgFile      = &quot;/opt/jenkins/orgs/${CHEF_ENV}-org.json&quot;
def repo         = &quot;&quot;
def chefServer   = &quot;&quot;

node(&quot;master&quot;) {
  def inputFile    = new File(orgFile).getText(&apos;UTF-8&apos;)
  def orgConf      = new JsonSlurper().parseText(inputFile)
  chefServer       = orgConf[&apos;chef-api&apos;]
}

def createServer   = &quot;knife ec2 server create -r \&quot;${RUN_LIST}\&quot; --image ${AMI_ID} --ssh-key jenkins-delivery -f ${FLAVOR} --ssh-user ${SSH_USER} --identity-file /opt/jenkins/.ssh/jenkins-delivery --associate-public-ip --subnet ${SUBNET_ID} -E ${CHEF_ENV} --server-url https://&quot; + chefServer + &quot;/organizations/${CHEF_ENV} --use-iam-profile --region ${REGION} -c /opt/jenkins/orgs/&quot; + chefServer + &quot;/${CHEF_ENV}-knife.rb --node-ssl-verify-mode none --validation-key-url <%="https://jenkins-delivery.#{node['route53_domain']}"%>/validators/&quot; + chefServer + &quot;/${CHEF_ENV}.pem&quot;

if (SECURITY_GROUPS) {
    createServer   = &quot;knife ec2 server create -r \&quot;${RUN_LIST}\&quot; --image ${AMI_ID} --ssh-key jenkins-delivery -g ${SECURITY_GROUPS} -f ${FLAVOR} --ssh-user ${SSH_USER} --identity-file /opt/jenkins/.ssh/jenkins-delivery --associate-public-ip --subnet ${SUBNET_ID} -E ${CHEF_ENV} --server-url https://&quot; + chefServer + &quot;/organizations/${CHEF_ENV} --use-iam-profile --region ${REGION} -c /opt/jenkins/orgs/&quot; + chefServer + &quot;/${CHEF_ENV}-knife.rb --node-ssl-verify-mode none --validation-key-url <%="https://jenkins-delivery.#{node['route53_domain']}"%>/validators/&quot; + chefServer + &quot;/${CHEF_ENV}.pem&quot;
}

if (NODE_NAME) {
  createServer = createServer + ' -N ' + "${NODE_NAME}"
}

node(&quot;master&quot;) {
    currentBuild.setDisplayName(&quot;#${CHEF_ENV} ${NODE_NAME}&quot;)

    stage name: &quot;create-instance&quot;, concurrency: 1
    sh createServer
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
</flow-definition>
