<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Creates a Chef organisation on the Chef server</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>ADMIN_USERNAME</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ORG_NAME</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>CHEF_SERVER</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>chef-server-int.<%=node['route53_domain']%></string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>INTEGRATION_REPO</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sudo -iu knife ssh -i /home/knife/.ssh/id_rsa knife@${CHEF_SERVER} &quot;sudo /opt/knife/chef-server-ctl.rb org-create ${ORG_NAME} ${ORG_NAME} --association_user ${ADMIN_USERNAME}&quot; &gt; ${ORG_NAME}.pem</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cp -f *.pem /opt/jenkins/orgs/${CHEF_SERVER}/
cp -f *.pem /opt/validators/${CHEF_SERVER}/
rm -f *.pem</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo &quot;{ \&quot;chef-api\&quot;: \&quot;${CHEF_SERVER}\&quot;, \&quot;chef-org\&quot;: \&quot;${ORG_NAME}\&quot;, \&quot;admin-user\&quot;: \&quot;${ADMIN_USERNAME}\&quot;, \&quot;integration-repo\&quot;: \&quot;${INTEGRATION_REPO}\&quot; }&quot; &gt; /opt/jenkins/orgs/${ORG_NAME}-org.json</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>sudo -iu knife sudo /bin/chef-client --local-mode -c /tmp/kitchen/client.rb -j /tmp/kitchen/dna.json</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.5">
      <template>${ORG_NAME}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>
