<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Creates a Chef organisation on the Chef server</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>ORG_NAME</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
            <% node['sbg_jenkins_delivery']['organisations']['all'].each do |org|%>
              <string><%=org%></string>
            <% end %>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>CHEF_SERVER</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>chef-server-int.<%=node['route53_domain']%></string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sudo -iu knife ssh -i /home/knife/.ssh/id_rsa knife@${CHEF_SERVER} &quot;sudo /opt/knife/chef-server-ctl.rb org-delete ${ORG_NAME} -y&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>rm -f /opt/jenkins/orgs/${CHEF_SERVER}/${ORG_NAME}.*
rm -f /opt/jenkins//opt/validators/${CHEF_SERVER}/${ORG_NAME}.pem
rm -f /opt/jenkins//opt/validators/${CHEF_SERVER}/${ORG_NAME}-knife.json
rm -f /opt/jenkins//opt/validators/${CHEF_SERVER}/${ORG_NAME}-berks.json
rm -f /opt/jenkins//opt/validators/${ORG_NAME}-org.json</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.3">
      <template>${ORG_NAME}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>
