<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.1">
  <actions/>
  <description>Uploads a Chef repository to the Chef server</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>CHEF_ENV</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
            <% node['sbg_jenkins_delivery']['organisations']['all'].each do |org|%>
              <string><%=org%></string>
            <% end %>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_TAG</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.1">
    <script>import groovy.time.TimeCategory
import hudson.AbortException
import hudson.console.HyperlinkNote
import java.util.concurrent.CancellationException
import groovy.json.JsonSlurper

def start        = new Date()
def build_env    = &quot;${CHEF_ENV}&quot;
def buildTag     = &quot;${BUILD_TAG}&quot;
def rubyPath     = &apos;/opt/chefdk/embedded/bin/ruby --external-encoding=UTF-8 --internal-encoding=UTF-8 &apos;

def orgFile      = &quot;/opt/jenkins/orgs/${CHEF_ENV}-org.json&quot;
def repo         = &quot;&quot;

node(&quot;master&quot;) {
  def inputFile    = new File(orgFile).getText(&apos;UTF-8&apos;)
  def orgConf      = new JsonSlurper().parseText(inputFile)
  repo             = orgConf[&apos;integration-repo&apos;]
}

node(&quot;master&quot;) {
    currentBuild.setDisplayName(&quot;${CHEF_ENV} #${currentBuild.number}&quot;)

    ref = &quot;${BUILD_TAG}&quot;

    stage name: &quot;git-checkout&quot;, concurrency: 1

    checkout([$class: &apos;GitSCM&apos;, branches: [[name: ref]], doGenerateSubmoduleConfigurations: false, extensions: [[$class: &apos;WipeWorkspace&apos;], [$class: &apos;CloneOption&apos;, reference: buildTag, shallow: true, timeout: 20]], submoduleCfg: [], userRemoteConfigs: [[url: repo]]])

    stage name: &quot;upload-chef-code&quot;, concurrency: 1
    wrap([$class: &apos;AnsiColorBuildWrapper&apos;, &apos;colorMapName&apos;: &apos;XTerm&apos;, &apos;defaultFg&apos;: 1, &apos;defaultBg&apos;: 2]) {
        parallel cookbooks: {
          sh rubyPath + &quot;/opt/jenkins/chef/cookbook-upload.rb ${CHEF_ENV} .&quot;
        }, roles: {
          sh rubyPath + &quot;/opt/jenkins/chef/role-upload.rb ${CHEF_ENV} .&quot;
        }, databags: {
          sh rubyPath + &quot;/opt/jenkins/chef/data-bag-upload.rb ${CHEF_ENV} .&quot;
        }, environment: {
          sh rubyPath + &quot;/opt/jenkins/chef/environment-upload.rb ${CHEF_ENV} .&quot;
        }
    }
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
</flow-definition>
